<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Battery Box Assembly">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0055402336368483 0.0549433712373477 3.85298046699102E-07"
        rpy="0 0 0" />
      <mass
        value="0.792464358247873" />
      <inertia
        ixx="0.000599464799357989"
        ixy="4.74333059445186E-06"
        ixz="3.08452719159931E-08"
        iyy="0.00273213202135635"
        iyz="-1.1921064859431E-09"
        izz="0.00251553733007407" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/battery_asm.obj" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Battery Box Assembly/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
